<!-- Phrase d'accroche ====================================================-->
{% block accroche_v1 %}
<section class="banner-area relative" id="home" data-parallax="scroll" data-image-src="img/header-bg.jpg">
    <div class="overlay-bg overlay"></div>
    <div class="container">
        <div class="row fullscreen">
            
            
            <div class="banner-content d-flex align-items-center col-lg-12 col-md-12">
                <h1>
                    Snowtricks is an app landing page that will help you beautifully showcase your acrobacies, and the related technicity! <br>
                    Better Than Ever.								
                </h1>
            </div>
            
            
            
            <div class="head-bottom-meta d-flex justify-content-between align-items-end col-lg-12">
                
                <div class="col-lg-6 flex-row d-flex meta-left no-padding">
                    <a href="#figure_ancre" class="js-scrollTo primary-btn load-more pbtn-2 text-uppercase mx-auto mt-60">See the latest figures!</a>
                </div>
                
                <div class="col-lg-6 flex-row d-flex meta-right no-padding justify-content-end">
                    
                    <div class="user-meta">
                        <p><SCRIPT LANGUAGE="JavaScript">
                            var maintenant=new Date();
                            var jour=maintenant.getDate();
                            var mois=maintenant.getMonth()+1;
                            var an=maintenant.getFullYear();
                            document.write("Nous sommes le ",jour,"/",mois,"/",an,".");
                        </SCRIPT></p>
                    </div>
                    
                </div>
            
            </div>												
        
        </div>
    </div>
</section>
{% endblock %}  
