<!-- Phrase d'accroche ====================================================-->
{% block accroche %}

<header class="masthead">
      <div class="container h-100">
        
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
                
                <h1 class="test">
                  Snowtricks is an aphe related technicity!
                </h1>
                
                
                <h1 class="mb-5">
                  Snowtricks is an app landing page that will help you beautifully showcase your acrobacies, and the related technicity!
                </h1>
              
                <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">See the figures!</a>
            
              </div>
          </div>
         
        </div>
      </div>
</header>

{% endblock %}  
