<!-- Phrase d'accroche ====================================================-->
{% block accroche_search %}
<section class="banner-area relative" id="home" data-parallax="scroll" data-image-src="img/header-bg.jpg">
    <div class="overlay-bg overlay"></div>
    <div class="container">
        <div class="row fullscreen">
            
            
            <div class="banner-content d-flex align-items-center col-lg-12 col-md-12">
                <h1>
                    Search your figures based on your interests !!								
                </h1>
            </div>
            
            
            
            <div class="head-bottom-meta d-flex justify-content-between align-items-end col-lg-12">
                
                <div class="col-lg-6 flex-row d-flex meta-left no-padding">
                    <a href="#form_ancre" class="js-scrollTo primary-btn load-more pbtn-2 text-uppercase mx-auto mt-60">search form</a>
                </div>
                
                
            
            </div>												
        
        </div>
    </div>
</section>
{% endblock %}  
