<!-- Phrase d'accroche ====================================================-->
{% block accroche_v3 %}
<section class="banner-area relative" id="home" data-parallax="scroll" data-image-src="img/header-bg.jpg">
    <div class="overlay-bg overlay"></div>
    <div class="container">
        <div class="row fullscreen">
            
            
            <div class="banner-content d-flex align-items-center col-lg-12 col-md-12">
                <h1>
                    Enter the team : describe your own figures with photos and videos. Let all your friends know about the wonderful stuff that you do !!!
                </h1>
            </div>
            
            
            
            <div class="head-bottom-meta d-flex justify-content-between align-items-end col-lg-12">
                
                
                <div class="col-lg-6 flex-row d-flex meta-right no-padding justify-content-end">
                    
                    <div class="user-meta">
                        <p><SCRIPT LANGUAGE="JavaScript">
                            var maintenant=new Date();
                            var jour=maintenant.getDate();
                            var mois=maintenant.getMonth()+1;
                            var an=maintenant.getFullYear();
                            document.write("Nous sommes le ",jour,"/",mois,"/",an,".");
                        </SCRIPT></p>
                    </div>
                    
                </div>
            
            </div>												
        
        </div>
    </div>
</section>
{% endblock %}  
